.footer {
  bottom: 0 !important;
  padding-top: 100px !important;
  margin-bottom: 20px;
}
.footer-display {
  display: inline;
}

.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-left: 20px;
}
